<!DOCTYPE html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta10
* @link https://tabler.io
* Copyright 2018-2022 The Tabler Authors
* Copyright 2018-2022 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>EL NAAEL - Accounting</title>
     <!-- <link rel="icon" href="../images/w-favicon.png"> -->
    <!-- CSS files -->
    <link href="../dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="../dist/css/demo.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../node_modules/@tabler/icons/iconfont/tabler-icons.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    </head>
  <body >
    <div class="page">
      <div class="sticky-top">
        <header class="navbar navbar-expand-md navbar-light d-print-none sticky-top">
          <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
              <a href=".">
                <!-- <img src="./static/logo-dark.png" width="110" height="32" alt="Tabler" class="navbar-brand-image"> -->
                <h4 class="fw-bolder text-muted">EL NAAEL GROUP HOLDING CO W.L.L</h4> 

              </a>
            </h1>
            <div class="navbar-nav flex-row order-md-last">
            
           
              <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                  <span class="avatar avatar-sm" style="background-image: url(./static/avatars/user-avatar.png)"></span>
                  <div class="d-none d-xl-block ps-2">
                    <div><%= userName %></div>
                    <div class="mt-1 small text-muted"><%= userRole %></div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
               
                  <a href="/logout" class="dropdown-item">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="alert-notif">
          <div class="row align-items-center">
            <div class="col-auto text-success fs-1"><i class="ti ti-circle-check"></i></i></div>
            <div class="col text-truncate">
              <a href="#" class="text-body d-block">Notification</a>
              <div class="alert-msg d-block text-muted text-truncate mt-n1 fs-5">
                
              </div>
            </div>
          </div>

        </div>

      
